.connect-main {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-header{
    font-family: 'Acorn', sans-serif;
    font-size: 4rem;
    color: #8fdcc2;
    align-items: center;
    text-align: center;
    font-weight: 700;
    z-index: 2;
    position: relative;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 60rem;
    height: 25rem;
    margin-top: 2cap;
    background-color: rgba( 33, 67, 54, 0.5 );
    border-radius: 5rem;
    border:0.1rem solid #36594D;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}



.btn {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: .75rem;
    margin: 1rem;
    /* margin-top: 5rem; */
    display: grid;
    place-items: center;
    background: transparent; /* #20352d89; */
    padding: 1rem;
    border-radius: 10px;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(54, 89, 77, 0.7); */
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
    font-size: 16px;
    color: #D3EDE5;
    width: 20rem;
    height: 10rem;
}

.btn:hover {
     box-shadow:  inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
        /* inset 
        -0.5px -0.5px 0px rgba(0, 0, 0, 0.2),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15); */
        
    /* border:0.06rem solid #243c33;; */
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.8);
    /* fill: #D3EDE5; */
}