.footer{
    background-color: #20352d;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    color: #D3EDE5;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 2rem;

}

.ft-name{
    width: 30%;
}

.ft-items{
    display: flex;
flex-wrap: wrap;
gap: 2rem;
width: 30%;
justify-content: space-evenly;
}

.work{
    align-items: center;
}
.abt{
    align-items: center;
}
.ts{
    align-items: center;
}
.connect{
    align-items: center;
}
.love{
    /* margin-left: 10rem; */
    width: 30%;
    height: 3rem;
    align-items: right;
    text-align: right;
}
.heart{
    margin: 0 0.5rem;
}