.navbar{
    background: transparent;
    display: flex;
    gap:4rem;
    align-items: center;
    justify-content:space-evenly;
    width: 40rem;
    /* background-color: white; */
    position: fixed;
    z-index: 10;
    opacity: 0.99;
    height: 3.5rem;
    margin-top: 1rem;
    align-self: center;
    border-radius: 2rem;
    
}

.navbar.scrolled{
    background: rgba(30, 56, 46, 0.1);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 2rem;
    z-index: 1000
}

.nav-links{
    font-family: 'Montserrat';
    color:white;
    font-weight: 100;
}