
.w-main{
    width: 100%;
    z-index: 4;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.w-hero{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 2;
    position:relative;
    padding: 1rem;
}

.w-hero-line{
    font-family: 'Montserrat';
    margin-top: 1.5rem;
    color: #8fdcc2;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.w-heading {
    font-family: 'Acorn', sans-serif;
    font-size: 5rem;
    color: #8fdcc2;
    align-items: center;
    text-align: center;
    font-weight: 700;
    
}

.w-projects{
    display:flex;
    flex-direction: column;
    width: 80%;
    background-color: antiquewhite;
}

.w-project-row{
    display:flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem; 
}

.w-project-1{
    height: 30rem;
    background-color: #bddff9;
    width: 50rem;
    border-radius: 5rem;
    overflow: hidden;
}

.ie-image {
    background: url('../assets/project-images/ie-thumbnail.png');
    z-index: 5;
    width: 45rem;
    height: 23rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    position: relative;
    bottom: -3rem; 
    left: -3rem;  
    transition: transform 0.3s ease;
}

.project-description{
    width: 75%;
    text-align: left;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #243831;
    font-size: 1.5rem; 
    transition: transform 0.3s ease;   
}

.w-project-1:hover .ie-image  {
    /* transform: translate(16.5rem, -9rem);  */
    transform: scale(1.05);
}
.w-project-1:hover .project-description  {
    /* transform: translate(16.5rem, -9rem);  */
    transform: scale(1.1) translate(2rem, 0.5rem);
}


.w-project-2{
    height: 30rem;
    background-color: #EFB795;
    width: 25rem;
    border-radius: 5rem;
}

.w-project-3{
    height: 30rem;
    background-color: #D095E5;
    width: 25rem;
    border-radius: 5rem;
}

.w-project-4{
    height: 30rem;
    background-color: #A3DCD4;
    width: 50rem;
    border-radius: 5rem;
}

.w-project-text{
    text-align: right;
    margin-top:2rem;
    margin-right: 5rem;
    font-family: 'Acorn', sans-serif;
    font-weight: 600;
    color: #243831;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.text-left{
    text-align: left;
    /* margin-top:2rem;
    margin-right: 3rem; */
    font-family: 'Acorn', sans-serif;
    font-weight: 600;
    color: #243831;
    font-size: 2rem;
}



.w-project-1:hover .w-project-text  {
    /* transform: translate(16.5rem, -9rem);  */
    transform: scale(1.1);
}