
.w-main{
    z-index: 5;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.w-hero{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 2;
    position:relative;
    padding: 1rem;
}

.w-hero-line{
    font-family: 'Montserrat';
    margin-top: 1.5rem;
    color: #8fdcc2;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.w-heading {
    font-family: 'Acorn', sans-serif;
    font-size: 5rem;
    color: #8fdcc2;
    align-items: center;
    text-align: center;
    font-weight: 700;
    
}

.w-projects{
    display:flex;
    flex-direction: column;
    width: 80%;
    background-color: antiquewhite;
}

.w-project-row{
    display:flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.w-project-1{
    height: 30rem;
    background-color: #bddff9;
    width: 50rem;
    border-radius: 5rem;
}

.w-project-2{
    height: 30rem;
    background-color: #EFB795;
    width: 25rem;
    border-radius: 5rem;
}

.w-project-3{
    height: 30rem;
    background-color: #D095E5;
    width: 25rem;
    border-radius: 5rem;
}

.w-project-4{
    height: 30rem;
    background-color: #A3DCD4;
    width: 50rem;
    border-radius: 5rem;
}

.w-project-text{
    text-align: right;
    margin-top:2rem;
    margin-right: 3rem;
    font-family: 'Acorn', sans-serif;
    font-weight: 600;
    color: #243831;
    font-size: 2rem;
}

.text-left{
    text-align: left;
    /* margin-top:2rem;
    margin-right: 3rem; */
    font-family: 'Acorn', sans-serif;
    font-weight: 600;
    color: #243831;
    font-size: 2rem;
}