@font-face {
  font-family: 'Acorn';
  src: url('../public/fonts/Acorn-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Acorn';
  src: url('../public/fonts/Acorn-SemiBold.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Acorn';
  src: url('../public/fonts/Acorn-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

